<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% load i18n %}


<script type='text/javascript' src='/makler/media/jquery/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='/makler/media/jquery/jquery.autocomplete.js'></script>
<!-- 
<script type="text/javascript" src="/makler/media/jquery/lib/jquery.js"></script>
<script type='text/javascript' src='/makler/media/jquery/lib/jquery.bgiframe.min.js'></script>
<script type='text/javascript' src='/makler/media/jquery/lib/jquery.ajaxQueue.js'></script>
<script type='text/javascript' src='/makler/media/jquery/lib/thickbox-compressed.js'></script>
-->

<link rel="stylesheet" type="text/css" href='/makler/media/jquery/jquery.autocomplete.css'/>
<link rel="stylesheet" type="text/css" href='/makler/media/jquery/lib/thickbox.css' />
<link rel="stylesheet" type="text/css" href='/makler/media/main.css' />

<script type="text/javascript"> 
$(document).ready(function(){
    $('#adv_text').keypress(function(){
    	var adv=$("#adv_text").attr("value");
        $.getJSON('/makler/json', {adv_text:adv}, function(json){
            $('#roomCount').val(json.roomCount);
            $('#phoneNumbers').val(json.phoneNumbers);
            $('#coastValue').val(json.cost.value);
            $('#coastCurrency').val(json.cost.currency);
            $('#coastPeriod').val(json.cost.period);
            $('#street1').val(json.address.street1);
            $('#street2').val(json.address.street2);
        });
    })
});


</script>


{% if latest_adv_list %}
    <ul>
    {% for adv in latest_adv_list %}
        <li><a href="/makler/{{ adv.id }}/">{{ adv.text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No advertisement are available.</p>
{% endif %}

<form action="/makler/addAdv/" method="post">
<textarea name="adv_text" id="adv_text"> </textarea>
<input type="submit" value="Add" />
{{ form.as_p }}
<br>

<b>{% trans "Room count:" %}</b><br>
   <input id="roomCount" name="roomCount" type="text" disabled="disabled">
</br>

<b>{% trans "Phone numbers:" %}</b><br>
   <input id="phoneNumbers" name="phoneNumbers" type="text" disabled="disabled">
</br>

<b>{% trans "Coast value:" %}</b><br>
   <input id="coastValue" name="coastValue" type="text" disabled="disabled">
</br>

<b>{% trans "Coast currency:" %}</b><br>
   <input id="coastCurrency" name="coastCurrency" type="text" disabled="disabled">
</br>

<b>{% trans "Coast period:" %}</b><br>
   <input id="coastPeriod" name="coastPeriod" type="text" disabled="disabled">
</br>

<b>{% trans "Street1:" %}</b><br>
   <input id="street1" name="street1" type="text" disabled="disabled">
</br>

<b>{% trans "Street2:" %}</b><br>
   <input id="street2" name="street2" type="text" disabled="disabled">
</br>
</form>
